@font-face {
  font-family: 'pretendard';
  src: url('/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'pretendard-extrabold';
  src: url('/fonts/Pretendard-ExtraBold.ttf') format('truetype');
  font-weight: 500;
}
